/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffc300;
  color: snow;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 2px solid snow;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: snow;
  border-top: 1px solid snow;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: #ffc300;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*MY CSS*/
.form__control {
  background: #ffc300;
  border: 0px solid;
  border-bottom: 3px solid white;
  height: 5rem;

  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

button.btn__save {
  width: 100px;
  background: transparent;
  border: 3px solid white;
  color: white;

  font-size: 2rem;
  padding: 15px 24px;
  cursor: pointer;
  transition: background 300ms, color 300ms;
}

button.btn__save:hover {
  background: white;
  color: #ffc300;
}

.bookmarks__well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffc300;
  border: 2px solid white;
  border-radius: 4px;
}

.fa__globe, .fa__trash {
  width: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
